/* CSS Document */

:root {
        --principal_color: #2c368d ;
        --secondary_color: #2c368d ;
        --sure_color: #d5edff;
        --hover_color: #ff9f00;
        --background: #f4f7fd;
}


/*GENERAL*/

body,td,th {

        font-family: Arial, Helvetica, sans-serif;

        font-size: 11px;

        color: #000000;

}



a {

        text-decoration:none;

        color: #454545;

}



a:hover {

        text-decoration:underline;

        color:#333333

}

.small {

        font-family: Arial, Helvetica, sans-serif;

        font-size: 12px;

        color: #000000;

}

.texto1 {

        font-family: Arial, Helvetica, sans-serif;

        font-size: 12px;

        color: #FFFFFF;

        font-weight:bold;

}

.titulo1 {

        font-family: Arial, Helvetica, sans-serif;

        font-size: 12px;

        font-weight: bold;

}

.titulo2 {

        font-family: Arial, Helvetica, sans-serif;

        font-size: 12px;

        color:#CC3333;

        font-weight: bold;

}





/*LISTAS*/

.header {

        background-color: #E1E1E1;

        border-left: 2px solid #CDCDCD;

        border-right: 2px solid #CDCDCD;

        background-image:url("../imagenes/backg_03.gif")}



.listar {

        background-color: #CCCCCC;

        border: 1px solid #CDCDCD;

}

.celda_titulo {

        border-bottom:1px solid #999999;

        background-color: #F5F5F5;

        background-image:url("../imagenes/backg_01.gif");

        color: #333333;

        font-weight:bold;

}

.celda_hover {

        background-color: #F5F5F5;

        background-image:url("../imagenes/backg_01.gif");

        color: #990000;

        font-weight:bold;
        
        cursor: pointer;

}

.celda_error {

        border-bottom: 1px solid #999999;

        background-color: #F5F5F5;

        background-image:url("../imagenes/backg_01.gif");

        color: #740002;

        font-weight:bold;

}



.celda {

        background-color:#ffffff;

}

.celda2 {

        background-color: #F8F8F8;

}



.celda_dato_Hover {

        background-color: #E6FCD8;



}





/*DATOS*/

.celda_titulo2 {

        border-bottom:1px solid #999999;

        background-color: #F5F5F5;

        background-image:url("../imagenes/backg_01.gif");

        font-size:11px;

        color: #454545;

        font-weight:bold;

}

.tabla_datos {

        border: 1px solid #CDCDCD;

}

.tabla_datos_ad {

        border-bottom:1px solid #CDCDCD;

        border-left:1px solid #CDCDCD;

        border-right:1px solid #CDCDCD;

}

.celda_etiqueta {

        background-color: #F5F5F5;

        padding-right:10px;

        padding-left:10px;

        border-bottom:1px solid #cdcdcd;

        border-top:1px solid #ffffff ;

        color:#545454;

        white-space:nowrap;

        font-weight:bold;

}

.celda_sombra {

        background-color: #DDDDDD;

        padding-right:10px;

        padding-left:10px;

        border-bottom: 1px solid #cdcdcd;

        border-top: 1px solid #ffffff ;

        color: black;

        white-space:nowrap;

        font-weight:bold;

}

.celda_info {

        padding-left:10px;

        padding-right:10px;

        border-bottom:1px solid #c0c4c5;

        border-right:1px solid #c0c4c5;

        white-space:nowrap;

        background-color:#fff;

        color:#000000;

}







/*FORMULARIOS*/

.form_01 {

        font-family: Arial, Helvetica, sans-serif;

        font-size: 11px;

        color: #000000;

}

.campo_texto {

        font-family: Arial, Helvetica, sans-serif;

        font-size: 11px;

        color: #000000;

        border:1px solid #bababa;

        padding-left:5px;

        background-color:#ffffff;

}



.campo_texto_on {

        font-family: Arial, Helvetica, sans-serif;

        font-size: 11px;

        color: #000000;

        border:1px solid #bababa;

        padding-left:5px;

        background-color: #FFFFCC;

}

.crmButton{



        border-left:1px solid #ffffff;

        border-top:1px solid #ffffff;

        border-right:1px solid #555555;

        border-bottom:1px solid #555555;

        width: 70px;

}

.save{

        background-color: #454545;

        border-bottom: 1px solid  #999999;

        border-left: 1px solid #999999;

        border-right: 1px solid #999999;

        border-top: 1px solid #999999;

        color:#fff;

        font-weight:bold;

}

.cancel {

        background-color: #DFDFDF;

        border-bottom: 1px solid  #999999;

        border-left: 1px solid #999999;

        border-right: 1px solid #999999;

        border-top: 1px solid #999999;

        color:#444444;

        font-weight:bold;

}





/* MENU */



.celda_top {

        background-color: #CCCCCC;

        background-image: url("../imagenes/backg_menu_top.png");

        border-bottom:1px solid #cdcdcd;

}



.menu {

        background-color:#CCCCCC;

        background-image: url("../imagenes/backg_menu.jpg");

}



.celda_menu_n1 {

        border-top:1px solid #D7D7D7;

        background-color: #F5F5F5;

        background-image:url("../imagenes/backg_01.gif");

        color: #333333;

        font-weight:bold;



}

.celda_menu_n1_Hover {

        border-top:1px solid #D7D7D7;

        background-color: #F5F5F5;

        background-image:url("../imagenes/backg_01_b.gif");

        color: #333333;

        font-weight:bold;



}



.celda_menu_n2 {

        padding-left:10px;

        border-bottom:1px solid #FFFFFF;

        white-space:nowrap;

        background-color: #F0F0F0;

        color:#333333;

        font-weight:bold;

}

.celda_menu_n2_Hover {

        padding-left:10px;

        border-bottom:1px solid #FFFFFF;

        white-space:nowrap;

        background-color: #E6FCD8;

        color:#333333;

        font-weight:bold;

}

.menu_n2:link {

        color: #333333;

        text-decoration: none;

}

.menu_n2:visited {

        text-decoration: none;

        color: #333333;

}

.menu_n2:hover {

        text-decoration: underline;

        color: #333333;

}

.menu_n2:active {

        text-decoration: none;

        color: #333333;

}





.celda_menu_n3 {

        padding-left:20px;

        border-bottom:1px solid #efefef;

        white-space:nowrap;

        background-color:#FFFFFF;

        color:#000000;

}

.celda_menu_n3_Hover {

        padding-left:20px;

        border-bottom:1px solid #efefef;

        white-space:nowrap;

        background-color:#E6FCD8;

        color:#000000;

}

.menu_n3:link {

        color: #000000;

        text-decoration: none;

}

.menu_n3:visited {

        text-decoration: none;

        color: #000000;

}

.menu_n3:hover {

        text-decoration: underline;

        color: #000000;

}

.menu_n3:active {

        text-decoration: none;

        color: #000000;

}



.celda_menu_n4 {

        padding-left:30px;

        border-bottom:1px solid #efefef;

        white-space:nowrap;

        background-color:#FFFFFF;

        color:#454545;

}

.celda_menu_n4_Hover {

        padding-left:30px;

        border-bottom:1px solid #efefef;

        white-space:nowrap;

        background-color:#E6FCD8;

        color:#000000;

}

.menu_n4:link {

        color: #454545;

        text-decoration: none;

}

.menu_n4:visited {

        text-decoration: none;

        color: #454545;

}

.menu_n4:hover {

        text-decoration: underline;

        color: #333333;

}

.menu_n4:active {

        text-decoration: none;

        color: #454545;

}



.celdaV { font-size: 9pt; color: #000000; background-color: #DDBBFF }



.celdaV a:active {  color: #333333; text-decoration: none}



.celdaV a:hover {  color: #333333; background-color: #EEEEEE}



.celdaV a:link {  color: #333333; text-decoration: none}



.celdav a:visited {  color: #333333}



.celdaR { font-size: 9pt; color: #000000; background-color: #FF8891 }



.celdaR a:active {  color: #333333; text-decoration: none}



.celdaR a:hover {  color: #333333; background-color: #EEEEEE}



.celdaR a:link {  color: #333333; text-decoration: none}



.celdaR a:visited {  color: #333333}



.celdaN { font-size: 9pt; color: #000000; background-color: #FF9E5E }



.celdaN a:active {  color: #333333; text-decoration: none}



.celdaN a:hover {  color: #333333; background-color: #EEEEEE}



.celdaN a:link {  color: #333333; text-decoration: none}



.celdaN a:visited {  color: #333333}



.celdaA { font-size: 9pt; color: #000000; background-color: #FFFF6C }



.celdaA a:active {  color: #333333; text-decoration: none}



.celdaA a:hover {  color: #333333; background-color: #EEEEEE}



.celdaA a:link {  color: #333333; text-decoration: none}



.celdaA a:visited {  color: #333333}




.DeleteButtonDIV_  {
	float: left;
	width: 3%;
	height: 27px;
	padding-top: 3px;
	border-bottom: 1px solid #EBEBEB;
}
        

.DeleteButton_ {
	display: block;
	width: 21px;
	height: 21px;
	text-align: center;
	text-decoration: none;
	background: url(../../../imagenes/general/delete_button.png);
	border : 0px white solid;
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
}


.NewButton_ {
    display: block;
    width: 21px;
    height: 21px;
    text-align: center;
    text-decoration: none;
    background: url(../../../imagenes/general/new_button.png);
    border : 0px white solid;
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
}


.EditButton_ {
    display: block;
    width: 21px;
    height: 21px;
    text-align: center;
    text-decoration: none;
    background: url(../../../imagenes/general/edit_button.png);
    border : 0px white solid;
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
}
    

.DeleteButton1_:hover {
    background: url(../../../imagenes/general/delete_button_focus.png);
    cursor: pointer;
}




.HiddenDIV  {
	display: none;
}


.MenuImageLink  {
	font-size: 14px;
	font-weight: bold;
	color: #333399;
	text-decoration: none;
	vertical-align: top;
}

.MenuImageLink:hover  {
	font-size: 14px;
	font-weight: bold;
    color: #CC3333;
    text-decoration: none;
    vertical-align: top;
}


.styleButton_  {
	display: block;
	background: url(../../../imagenes/buttons/button.png);
	background-position: left top;
	background-repeat: no-repeat;
	text-align: center;
	height: 30px;
	width: 105px;
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 7px;
	border: 0px solid white;
}

.styleButton_:hover   {
	background: url(../../../imagenes/buttons/button_hover.png);
	background-position: left top;
    background-repeat: no-repeat;
	text-decoration: none;
	color: #0E3667;
	font-family: Arial;
	text-align: center;
	padding-bottom: 7px;
    border: 0px solid white;
}

.styleButton_80  {
    display: block;
    background: url(../../../imagenes/buttons/button_80.png);
    background-position: left top;
    background-repeat: no-repeat;
    height: 30px;
    width: 85px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 7px;
    border: 0px solid white;
}

.styleButton_80:hover   {
    background: url(../../../imagenes/buttons/button_80_hover.png);
    background-position: left top;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #0E3667;
    font-family: Arial;
    text-align: center;
    padding-bottom: 7px;
    border: 0px solid white;
}

.styleButton_150  {
    display: block;
    background: url(../../../imagenes/buttons/button_150.png);
    background-position: left top;
    background-repeat: no-repeat;
    height: 30px;
    width: 155px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 7px;
    border: 0px solid white;
}

.styleButton_150:hover   {
    background: url(../../../imagenes/buttons/button_150_hover.png);
    background-position: left top;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #0E3667;
    font-family: Arial;
    text-align: center;
    padding-bottom: 7px;
    border: 0px solid white;
}

.styleButton_200  {
    display: block;
    background: url(../../../imagenes/buttons/button_200.png);
    background-position: left top;
    background-repeat: no-repeat;
    height: 30px;
    width: 205px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 7px;
    border: 0px solid white;
}

.styleButton_200:hover   {
    background: url(../../../imagenes/buttons/button_200_hover.png);
    background-position: left top;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #0E3667;
    font-family: Arial;
    text-align: center;
    padding-bottom: 7px;
    border: 0px solid white;
}

.styleButton_250  {
    display: block;
    background: url(../../../imagenes/buttons/button_250.png);
    background-position: left top;
    background-repeat: no-repeat;
    height: 30px;
    width: 255px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 7px;
    border: 0px solid white;
}

.styleButton_250:hover   {
    background: url(../../../imagenes/buttons/button_250_hover.png);
    background-position: left top;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #0E3667;
    font-family: Arial;
    text-align: center;
    padding-bottom: 7px;
    border: 0px solid white;
}

.popupButton1  {
    height: 18px;
    width: 18px;
    border: 1px #454545 solid;
    background: #454545;
    cursor:pointer
}


.popupButton  {
    height: 20px;
    width: 20px;
    background: url(../../../imagenes/buttons/popup.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0px solid white;
}


.popupButton:hover  {
    height: 20px;
    width: 20px;
    background: url(../../../imagenes/buttons/popup_hover.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0px solid white;
}


.calendarButton  {
    height: 20px;
    width: 20px;
    background: url(../../../imagenes/ryu_calendar/calendar_button_black.gif);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0px solid white;
}


.calendarButton:hover  {
    height: 20px;
    width: 20px;
    background: url(../../../imagenes/ryu_calendar/calendar_button_blue.gif);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0px solid white;
}

.popupButton1:hover   {
    border: 1px black solid;
    cursor: pointer
}

.Withoutborder   {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    border: 1px solid #ffffff;
    padding-left: 5px;
    background-color: #ffffff;
}



.Error   {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #CC0000;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.linkRuta
{
	cursor:pointer;
	text-decoration:none;
}


.div_container
{
	clear       : both;
	width       : 100%;
	text-align  : center;
}


.div_header
{
	float       : left;
	text-align  : center; 
	font-family : Arial; 
	font-size   : 11px; 
	height      : 13px; 
	color       : #111111; 
	border      : 1px solid #999999;
	margin      : 1px;
	font-weight : bold;
	padding     : 1px;
}

.div_info
{
	float       : left;
	font-family : Arial; 
	font-size   : 11px; 
	height      : 13px; 
	color       : #111111; 
	border      : 1px solid #ffffff;
	margin      : 1px;
	padding     : 1px;
}

.div_cell
{
	float       : left;
	font-family : Arial; 
	font-size   : 11px; 
	height      : 13px; 
	color       : #111111; 
	border      : 1px solid #999999;
	margin      : 1px;
	padding     : 1px;
}

.notify {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
    margin: 0 auto 20px;
    max-width: 50%;
    padding: 12px 18px;
}

.notify h1 {
    color: #444;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.7em;
    letter-spacing: -0.05em;
    line-height: 1.5em;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0.1em 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.notify h1::before, .notify h1::after {
    background: #f0f0f0 none repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.notify h1::before {
    left: -0.5em;
    margin: 0 0 0 -50%;
}
.notify h1::after {
    left: 0.5em;
    margin: 0 -50% 0 0;
}
.notify h1 > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.notify h1 {
    margin-bottom: 6px;
}

.successbox h1 {
    color: #678361;
}
.errorbox h1 {
    color: #6f423b;
}
.infobox h1 {
    color: #7DCCFC;
}
.errobdbox h1{
    color: #515151;
}

.warningbox h1{
    color: #FFA500;
}

.successbox h1::before, .successbox h1::after {
    background: #cad8a9 none repeat scroll 0 0;
}
.errorbox h1::before, .errorbox h1::after {
    background: #d6b8b7 none repeat scroll 0 0;
}

.infobox h1::before, .infobox h1::after {
    background: #b6c4d3 none repeat scroll 0 0;
}


.errobdbox h1::before, .errobdbox h1::after {
    background: #515151 none repeat scroll 0 0;
}

.warningbox h1::before, .warningbox h1::after {
    background: #FFA500 none repeat scroll 0 0;
}

.notify .alerticon {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

center {
    font-weight: bold;    
}

/**********AJUSTE DE ESTILO INFORME.CSS**********/

.cellInfo1 {
        background-color: #fdfdfd !important;
    }

/*********AJUSTES DE ESTILO A LAS LIBRERÍAS********/

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #bdc5cc !important;
    background: var(--principal_color) !important;
}

.CellHead {
	border: 1px solid var(--principal_color) !important;
    background: var(--principal_color) !important;
}

.ui-widget-header {
	border: 1px solid var(--principal_color) !important;
    background: var(--principal_color) !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { 
	border: 1px solid var(--principal_color) !important;
    background: var(--principal_color) !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
    border: 1px solid #efac1cf5 !important;
    background: #efac1cf5 !important;
}

.DLRowHeader {
	border: 1px solid #797a7a !important;
    background: var(--principal_color) !important;
}

.ui-widget-content {
        border: 1px solid var(--background) !important;
        background: var(--background) url(images/ui-bg_inset-soft_10_285c00_1x100.png) 50% bottom repeat-x !important;
}

.ui-multiselect-checkboxes label {
        color: #000 !important;
}

.ui-widget-content {
        color: #000000 !important;
}

.DLRow1 {
        background: var(--sure_color) !important;
}

/* MENU */
.color-menu-encabeza{
    color: #024070 !important;
}

.ui-state-default .ui-corner-top .ui-state-focus .ui-tabs-selected .ui-state-hover{
        background: var(--hover_color) !important; 
}

.ui-state-focus {
        border: 1px solid #efac1cf5!important;
        background: #efac1cf5 !important;
    }

.ui-menu .ui-menu-item a {
        background: var(--principal_color) !important;
}


.btn .btn-default .buttons-excel .buttons-html5{
        background-color: var(--sure_color) !important;
    
}
    
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        background-color: var(--sure_color) !important;
        border: 1px solid #4d4869 !important;
}
    
.btn-group>.btn:first-child {
        margin-left: 0 !important;
        margin-bottom: 10px !important;
}
    
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
        background-color: var(--sure_color) !important;
        margin-left: 4px !important;
        margin-bottom: 10px !important;
        border: 1px solid #4d4869 !important;
}

.card-header{
        background-color: var(--sure_color) !important;
}

.btn-success {
        color: #fff;
        background: var(--principal_color) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
        color: #fff;
        background-color: var(--hover_color) !important;
        border-color: var(--sure_color) !important;
}

.modal-header {
        color: var(--principal_color) !important;
        background-color: var(--sure_color) !important;
        border-color: #dfdfdf !important;
}

.color-heading {
        color:var(--principal_color) !important;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgb(99 115 251 / 50%) !important;
}

.btn-success.focus, .btn-success:focus {
        box-shadow: 0 0 0 0.2rem rgb(99 115 251 / 50%) !important;
}

.table tr:hover {
        background: var(--sure_color) !important;
}

.bk-sure{
        background: var(--sure_color) !important;   
}

.bk-principal_color{
        background: var(--principal_color) !important;    
}

.white-color{
        color:#fff !important;
}
    
    
    
    
    
