.DLTable {
	border: 1px solid #003399;
}

.DLRow1 {
	background: #EBF8E2;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 11px;
}

.DLRow2 {
	background: #DEDFDE;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 11px;
}

.DLRowOver {
	background: #FCD245;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 11px;
}

.DLRowClick {
	color: yellow;
	background: #FBD03C;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 11px;
	font-weight: bold;
}

.DLNULLRow {
	background: url("../imagenes/dinamic_list/null_row.gif");
	background-repeat: repeat-x;
	height: 40px;
	color: white;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 18px;
	font-weight: bold;
}

.DLRowHeader {
	/*background: url("../imagenes/dinamic_list/header.gif");*/
	background-color:#008000;
	background-repeat: repeat-x;
	height: 40px;
}

.DLHeader {
	color: white;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.DLHeader:hover {
	color: gray;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.DLInput {
	color: gray;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 12px;
	font-weight: bold;
}

.DLSelect {
	color: gray;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 12px;
	font-weight: bold;
}

.DLLink {
	color: blue;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 11px;
	font-weight: normal;
	cursor:pointer;
}

.DLLink:hover {
	color: #990000;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.DLLinkSelected {
	color: white;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 12px;
	font-weight: normal;
}

.DLInfoTable {
	border: #003399 solid 1px;
	color: #003399;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 12px;
	font-weight: normal;
}

.DLInfoTable a {
	color: blue !important;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
/* para las imagenes de los botones de las opciones del dinamic list*/
.ImagenDinamicList{
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
}

.DLInfoTable a:hover {
	color: gray;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.DLNormal {
	color: black;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.DLInfoTable select {
	color: #CC3300;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.DLInfoTable input {
	height: 20px;
	color: #CC3300;
	font-family: Arial, Helvetica, sans-serif; !important;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}