
.space-label{
    margin-inline-end: 11px;
}

.color-heading{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 17px;
    font-weight: bold;
}
.centerRow{
    text-align: center;
}

.suggestions {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: auto;
    position: absolute;
    top: 30px;
    z-index: 9999;
    width: 206px;
}

.suggestions .suggest-element {
    background-color: #89d889;
    border-top: 1px solid #d6d4d4;
    color:#fff;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
}

.error-label{
    border-color: #C00000;
    border-width: 2px;
}

.contenido{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

label.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-top:2px;
    padding:6px 20px 6px 20px;
}

input.error{
    border-color: #a94442;
    border-width: 2px;
}

.mayuscul-input{
    text-transform: uppercase;
}


