.tituloFecha{
	background: #257038; 
	color: white;
}

.tutuloHora{
	background: #257038;
	color: white;	
}

.subtitbusq{
	background: #257038 !important;
}

.btn-link{
	cursor: pointer;
}