.tituloFecha{
	background: #257038; 
	color: white;
}

.tutuloHora{
	background: #257038;
	color: white;	
}

.subtitbusq{
	background: #257038 !important;
}

.btn-link{
	cursor: pointer;
}

.select_all{
    left: 87%;
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 10;
    display: none;
 }